---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About";
const description = "About your blog.";
const permalink = `${Astro.site.href}about`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="about"
>
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img
        src="/assets/about-page.svg"
        alt="Illustración de una habitación"
        width="300"
      />
    </figure>
    <p>
      ¡Bienvenida(o) a mi página! Un espacio dedicado a hablar sobre diversos
      conceptos y temas.
    </p>
    <p>
      Este blog en línea se convierte en mi lienzo digital, donde puedo plasmar
      tanto ideas fugaces como reflexiones más elaboradas. Es un espacio en
      constante evolución, donde puedo explorar distintas áreas de interés.
    </p>
    <p>
      En resumen, un blog de notas personal, que es mi espacio versátil y
      dinámico, donde la diversidad de temas se entrelazan con mis propias
      ideas, reflexiones y descubrimientos.
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 350px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
