<div>
  <img src="/assets/profile-pic.webp" alt="Foto de Matias" />
  <p>
    Hola, Soy <strong>Matias</strong>. Analista en sistemas que intenta ser
    programador. Si quieres puedes seguirme en <a
      href="https://www.twitter.com/matys_com"
      target="_blank">Twitter</a
    >, o puedes mirar un poco más de mi en <a
      href="https://www.github.com/mati-com"
      target="_blank">GitHub</a
    >.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
